<!DOCTYPE html>
<html>
<head>
	<base href="${basePath?if_exists}">
	<base id="contextPath" data-path="${contextPath}">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>eZFM达美盛资产云管理平台</title>
	<link rel="stylesheet" type="text/css" href="resources/ezfm/all.css"></link>
	<script type="text/javascript" src="resources/ezfm/all.js"></script>
	<link type="text/css" rel="stylesheet" href="resources/ezfm/css/login/login.css">
    <script type="text/javascript">
    	var notRoleButtons = "${notRoleButtons?if_exists}";
    	//显示缓冲信息
      /* if(navigator.userAgent.indexOf("Chrome")>-1){
         if(!window.navigator.credentials){
            alert("推荐使用Google chrome浏览器，版本：50或者以上");
         }
       }else{
        alert("推荐使用Google chrome浏览器，版本：50或者以上");
       } */
    
    	
    	
    	function showProcessMessageMode(bool){
    		if(bool){
	    		if($("#szw_mask__id").length>0){
	    			$("#szw_mask__id").show();
	    		}else{
	    			$("<div id='szw_mask__id' class=\"datagrid-mask\"></div>").css({display:"block",width:"100%",height:$(window).height()}).appendTo("body"); 
	    		}
	    		if($("#szw_mask_message__id").length>0){
	    			$("#szw_mask_message__id").show();
	    		}else{
					$("<div id='szw_mask_message__id' class=\"datagrid-mask-msg\" style='border-color:rgba(255,255,255,0.9)'></div>").html("登录中...").appendTo("body").css({display:"block",left:($(document.body).outerWidth(true) - 85) / 2,top:($(window).height() - 40) / 2}); 
	    		}
    		}else{
    			$("#szw_mask__id").hide();
    			$("#szw_mask_message__id").hide();
    		}
    	}
    	
    	function loginErrorfunction(request, textStatus, errorThrown) {
            var statusCode = request.status;
			switch(statusCode){
				case 200:
					var result = eval("(" + request.responseText + ")");
					$("#errorInfoId").html(result.message);
				break;
				case 400:
					console.error(request);
				break;
				case 404:
					console.error('404: 页面未找到，请检测请求地址是否正确');
				break;
				case 415:
					console.error('415: 媒体格式错误，请检测请求配置，如: contentType = application/json');
				break;
				case 500:
					console.error('415: 服务端处理错误', statusText);
				break;
				default:
					console.error('未知错误：', statusText, errorThrown);
			}
        }
    	
    	//提前判断用户是否已经登录
    	function isUserAlreadyLogin(data){
    		var isAready = false;
    		$.ajax({
                url: "${contextPath}/ezfm/login/isalready/login",
                type: "post",
                data: data,
                dataType: "json",
                async:false,
                success: function(result){
                	isAready = result.success;
                },
                error:loginErrorfunction 
            });
    		return isAready;
    	}
    	//登录操作
		function loginFunction(){
			showProcessMessageMode(true);
    		
		 	var username = $("form input[name=user-name]").val();
		 	var password = $("form input[name=user-password]").val();
		 	if(!username){
		 		$("#errorInfoId").html("请输入账号");
		 		showProcessMessageMode(false);
		 		return;
		 	}
		 	if(!password){
		 		$("#errorInfoId").html("请输入密码");
		 		showProcessMessageMode(false);
		 		return;
		 	}
			var url = "${contextPath}/ezfm/login/login";
			var data = {
				username:username,
				password:password
			};
			
			if(isUserAlreadyLogin(data)){
				$.messager.confirm("提示","账号已经被登录，是否强制登录？",function(y){
					if(y){
						$.ajax({
			                url: url,
			                type: "post",
			                data: data,
			                dataType: "json",
			                async:false,
			                success: resultFunctionForLogin,
			                error: loginErrorfunction
			            });
					}
				});
			}else{
				$.ajax({
	                url: url,
	                type: "post",
	                data: data,
	                dataType: "json",
	                async:false,
	                success: resultFunctionForLogin,
	                error: loginErrorfunction
	            });
			}
			showProcessMessageMode(false);
		}
    	//跳转到home主页
		function resultFunctionForLogin(result){
		 	if(result.success){
		 		window.location.href = "${contextPath}/ezfm/home/index";
		 	}else{
		 		//这里做登录请求，前后台错误信息提示
		 		$("#errorInfoId").html(result.message);
		 	}
		}
    	$(function(){
           	$("#wrap").height($(window).height());
          	 $(window).resize(function(){
               	$("#wrap").height($(window).height());
           	});
           
         	//键盘监听事件
         	//只监听输入区域$("#wrap").keydown(function(me)
			$(document).keyup(function(me){
				if(!$("#szw_mask__id").is(":visible")){
					//回车事件 13==Enter
					if("13"==me.keyCode){
						loginFunction();
					}
				}
			});
        });
    </script>
</head>
<body>
<div id="wrap">
	<div class="login-box">
        <div class="con">
            <div class="tit">
                <img src="resources/ezfm/images/login/dms_logo.png">
                <span>达美盛云</span>
            </div>
            <form>
                <p>
                    <img src="resources/ezfm/images/login/icon_user.png">
                    <input type="text" placeholder="用户名" name="user-name"/>
                </p>
                <p>
                    <img src="resources/ezfm/images/login/icon_lock.png">
                    <input type="password" placeholder="密码" name="user-password"/>
                </p>
                <div id="errorInfoId" style="font-size:16px; margin-top:10px; text-align:center; color:orangered;font-weight: 600;">
                   
                </div>
                <input type="button" onclick="loginFunction();" value="登录" class="sub" style="margin-top:10px;"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>