<!DOCTYPE html>
<html>
	<head>
		<base href="${basePath?if_exists}">
		<meta charset="utf-8" />
     	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>达美盛资产云</title>
		<link rel="stylesheet" type="text/css" href="resources/ezfm/all.css"></link>
		<script type="text/javascript" src="resources/ezfm/all.js"></script>
		<script type="text/javascript">
			var state = "${state?if_exists}";
			var notRoleButtons = "${notRoleButtons?if_exists}";
			$(function(){
				showProcessMessageMode(true);
				if("dms_session_invalid" == state){
					$("#remindinfo_id").html('&nbsp;&nbsp;尊敬的用户：<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您的账户已经在其他地点登录，系统已经关闭了您本次访问。<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您想继续使用，请刷新浏览器,重新登录!');
				}
			});
			function showProcessMessageMode(bool){
	    		if(bool){
		    		if($("#szw_mask__id").length>0){
		    			$("#szw_mask__id").show();
		    		}else{
		    			$("<div id='szw_mask__id' class=\"datagrid-mask\"></div>").css({display:"block",width:"100%",height:$(window).height()}).appendTo("body"); 
		    		}
		    		if($("#szw_mask_message__id").length>0){
		    			$("#szw_mask_message__id").show();
		    		}else{
						$("<div id='szw_mask_message__id' class=\"datagrid-mask-msg\" style='border-color:rgba(255,255,255,0.9)'></div>").html("加载中...").appendTo("body").css({display:"block",left:($(document.body).outerWidth(true) - 85) / 2,top:($(window).height() - 40) / 2}); 
		    		}
	    		}else{
	    			$("#szw_mask__id").hide();
	    			$("#szw_mask_message__id").hide();
	    		}
	    	}
		</script>
	</head>
	<body>
		<!-- 如果用户要求不进行跳转，请将以下代码放开 -->
		<div  class="easyui-panel" title="提示"     
		        data-options="fit:true,border:false,noheader:true">   
		    <h2 id="remindinfo_id" style="color:dimgray;">&nbsp;&nbsp;尊敬的用户：<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于您长时间未操作，系统已经关闭了您本次访问。<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您想继续使用，请刷新浏览器!</h2> 
		</div>
	</body>
</html>