<!DOCTYPE html>
<html>
<head>
	<base href="${basePath?if_exists}">
	<meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>功能管理</title>
	<link rel="stylesheet" type="text/css" href="resources/ezfm/all.css"></link>
	<link rel="stylesheet" type="text/css" href="resources/ezfm/css/home/fun-icons.css"></link>
	<script type="text/javascript" src="resources/ezfm/all.js"></script>
	<style type="text/css">
		/*左侧菜单节点样式*/
		#system_function_tree .accordion-header-selected .panel-title {
		    color: black;
		}
		#system_function_tree .accordion-header-selected {
		    background: #FBFBFB;
		}
		
		#system_function_tree .tree-indent {
		    height: 16px;
	  			vertical-align: -webkit-baseline-middle;
		}
		
		#system_function_tree .tree-title {
		    font-size: 13px;
		    vertical-align: -webkit-baseline-middle;
		    height: 23px;
		    line-height: 23px;
		}
		#system_function_tree .tree-node {
		    margin-top: 2px;
		    height: 23px;
		    vertical-align: middle;
		}
		#system_function_tree .tree-file {
		    vertical-align: -webkit-baseline-middle;
		}
		
		#system_function_tree .tree-node-selected {
		    background: darkorange;
		    color: #fff;
		}
		#system_function_tree .tree-folder {
			vertical-align: -webkit-baseline-middle;
		}
		#system_tree_form tr{
			height:40px;
		}
		#system_tree_form tr td{
			font-size: 18px;
		}
		.l-btn-text {
		    font-size: 18px;
		}
	</style>
	<script type="text/javascript">
		//初始化页面
		function initLoadFunction(){
			var treeUrl = "ezfm/home/function/query/root";
	       	$.request.httpGet({
				url: treeUrl,
				async:false,
				success:function(result){
		        	if(result.success){
		        		loadFunctonTree("system_function_tree",result.data);
		        	}
		        }
			});
		}
		
		//加载功能菜单树
		function loadFunctonTree(treeId,nodes){
			for(var i=0; i<nodes.length; i++){
				nodes[i].state = "closed";
			}
			$("#"+treeId).tree({
				animate:true,
				data:nodes,
				onClick:treeOnClick
			});
		}
	
		//tree node点击事件
		function treeOnClick(node) {
			$("#system_tree_form input[name=function_name]").attr("value","123456");
			$("#system_tree_form input[name=function_id]").val(node.id);
			$("#system_tree_form input[name=function_pid]").val(node.pid);
			//$("#system_tree_form input[name=function_name]").val(node.text);
			$("#system_tree_form input[name=function_code]").val(node.code);
			$("#system_tree_form input[name=function_url]").val(node.url);
			$("#system_tree_form input[name=function_type]").val(node.fun_type);
			$("#system_tree_form input[name=function_mome]").val(node.memo);
			$("#system_tree_form input[name=function_icon]").val(node.iconCls);
		}
		
		
	//删除
	function deleteData(urlName) {
		var pNode = zTreeObj.getSelectedNodes();
		if(pNode.length == 0) {
			$.messager.alert("提示", "请选择删除项！", "info");
			return;
		}
		/* var data ={pk_class_id:pNode[0].pk_class_id}; */
		var data = new Array();
		data.push(pNode[0]);
		$.messager.confirm("确认", "确定要删除吗？", function(r) {
			if(r) {
				$.ajax({
					type: "POST",
					url: '${basePath?if_exists}ezfm/problem/classadmin/'+urlName,
					contentType: 'application/json',
					data: JSON.stringify(data),
					dataType: "json",
					success: function(json) {
						$.messager.show({
							title:'提示',
							msg:'数据已删除！',
							timeout:2000,
							showType:'slide'
						});
						showClassAdmintTree();
					},
				});
			}
		});
	};
	
	//提交表单
	function submitForm(formName) {
		var saveUrl = '${basePath?if_exists}ezfm/problem/classadmin/'+operation;
		var formdata =  $("#"+formName).serializeObject();
		$.request.restPost({
			url: saveUrl,
			data:formdata,
			success: function(result){
				if(result.success){
					 $("#dialog_classAdmin_save").dialog("close");
					$.messager.show({
						title:'提示',
						msg:'数据已保存',
						timeout:2000,
						showType:'slide'
					});
					showClassAdmintTree();
		    	}
			}
		}); 
	};
	
		$(function(){
			initLoadFunction();
		});
	</script>
</head>
<body>
	<div style="margin: 10px 0;"></div>
	<!-- <div>
		<a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openSaveDialog()">新增</a> 
		<a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="openUpdateDialog()">编辑</a>
		<a class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="deleteData('delete')">删除</a>
	</div> -->
	<div class="easyui-layout" data-options="fit:true">
		<!-- 功能树 -->
		<div data-options="region:'west',split:true" title="功能管理" style="width: 200px;">
			<ul id="system_function_tree" class="easyui-tree"></ul>
		</div>
		<!-- 详细详细 -->
		<div data-options="region:'center',title:'详细信息',iconCls:'icon-ok'">
			<div class="easyui-panel" style="width:600px;border:0">
				<div style="padding:20px 60px 20px 60px">
				    <form id="system_tree_form" data-options="fit:true">
				    	<table  style="cellpadding:5;">
				    		<tr>
				    			<td>功能名称</td>
				    			<td><input class="easyui-textbox" type="text" name="function_name" data-options="height:28,width:300"></input></td>
				    		</tr>
				    		<tr>
				    			<td>功能名称</td>
				    			<td><input class="easyui-textbox" type="text" name="function_code" data-options="height:28,width:300"></input></td>
				    		</tr>
				    		<tr>
				    			<td>功能连接</td>
				    			<td><input class="easyui-textbox" type="text" name="function_url" data-options="height:28,width:300"></input></td>
				    		</tr>
				    		<tr>
				    			<td>功能图片CLASS</td>
				    			<td><input class="easyui-textbox" type="text" name="function_icon" data-options="height:28,width:300"></input></td>
				    		</tr>
				    		<tr>
				    			<td>功能描述</td>
				    			<td><input class="easyui-textbox" type="text" name="function_memo" data-options="height:28,width:300"></input></td>
				    		</tr>
				    		<tr style="display:none;">
				    			<td>功能ID</td>
				    			<td><input class="easyui-textbox" type="text" name="function_id" data-options="height:28,width:300"></input></td>
				    		</tr>
				    		<tr style="display:none;">
				    			<td>功能父ID</td>
				    			<td><input class="easyui-textbox" type="text" name="function_pid" data-options="height:28,width:300"></input></td>
				    		</tr>
				    		<tr style="display:none;">
				    			<td>功能类型</td>
				    			<td><input class="easyui-textbox" type="text" name="function_type" data-options="height:28,width:300"></input></td>
				    		</tr>
				    	</table>
				    </form>
				    <div style="text-align:center;padding:10px">
				    	<a href="javascript:void(0)" id="save_mainbtn" class="easyui-linkbutton" style="text-align:center;margin:5px;font-size:18px;">保存</a>
				    	<a href="javascript:void(0)" id="reset_mainbtn" class="easyui-linkbutton" style="text-align:center;margin:5px;font-size:18px;">取消</a>
				    </div>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>