/**** 一些美化样式 ****/
.classAdmin_td_title{
	height:30px;
	background-color:#F9F7F9 !important;
	font-weight:bold;
}
.classAdmin_td_con{
	height:30px;
	background:#FFF;
	}
#classAdmin_tab{
	margin : 15px 0px 0px 15px;
	}
	
#problem_fieldset{
	margin : 15px 15px 15px 15px;
	border-width: 1px;
	border-outset:#FBF9FB;
	background-color:#FBF9FB;
	display:none;
}

a{
	margin-left:10px;
}

