<!DOCTYPE html>
<html>
<head>
<base href="${basePath?if_exists}">
<meta charset="UTF-8">
<title>角色管理</title>
<link rel="stylesheet" type="text/css" href="resources/ezfm/all.css"></link>
<link rel="stylesheet" type="text/css" href="resources/ezfm/css/baseinfo/baseinfo.css"></link>
<link rel="stylesheet" type="text/css" href="resources/ezfm/css/home/fun-icons.css"></link>
<link rel="stylesheet" type="text/css" href="resources/ezfm/css/system/function.css"></link>
<script type="text/javascript" src="resources/ezfm/all.js"></script>
<script type="text/javascript" src="resources/ezfm/js/pub/easyui.tree.defaults.loadfilter.js"></script>
<script type="text/javascript" src="resources/ezfm/js/baseinfo/role.js"></script>
<script type="text/javascript">
	var pc = '${crop?if_exists}';
	var notRoleButtons = "${notRoleButtons?if_exists}";
</script>
</head>
<body class="easyui-layout">
	<div id="roledlg" class="easyui-dialog szw_window" data-options="closed:true">
		<form id="form" class="base_main_form" method="post">
			<input type="hidden" name="pk_role"> <input type="hidden" name="is_pre"> <input id='pk_crop' type="hidden" name="pk_crop"
				value="${crop?if_exists}"> <input type="hidden" name="create_user"> <input type="hidden" name="create_time"> <input type="hidden"
				name="last_modify_user"> <input type="hidden" name="last_modify_time"> <input type="hidden" name="update_time">
			<table class="base_main_table">
				<tr>
					<td><label style="font-weight:bold">角色编码:</label></td>
					<td><input class="easyui-textbox" type="text" name="role_code" data-options="required:true,fit:true" /></td>
				</tr>
				<tr>
					<td><label style="font-weight:bold">角色名称:</label></td>
					<td><input class="easyui-textbox" type="text" name="role_name" data-options="required:true,fit:true" /></td>
				</tr>
				<tr>
					<td rowspan=2><label style="font-weight:bold">描述:</label></td>
					<td rowspan=2><input class="easyui-textbox" type="text" name="memo" data-options="height:20,multiline:true,fit:true,validType:'validLengthThreeHundred'" /></td>
				</tr>
				<tr>
				</tr>
			</table>
		</form>
	</div>

	<div id="tb" style="height: auto;">
		<div style="margin-bottom: 2px; margin-top: 2px">
			<a id="btnNew" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a> 
			<a id="btnEdit" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a> 
			<a id="btnDelete" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a> 
			<a id="btnFunc" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-authorization_pc',plain:true">系统功能授权</a> 
			<a id="appBtnFunc" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-authorization_app',plain:true">APP终端授权</a>
		</div>
	</div>

	<div data-options="region:'center'">
		<table id="rolegrid" class="easyui-datagrid" style="width: 700px; height: 250px"
			data-options="fit:true,title:'角色管理',singleSelect:true,collapsible:true,toolbar:'#tb'">
			<thead>
				<tr>
<!-- 					<th data-options="field:'ck',checkbox:true"></th> -->
					<th data-options="field:'role_code',width:120">角色编码</th>
					<th data-options="field:'role_name',width:180">角色名称</th>
					<th data-options="field:'memo',width:280">描述</th>
					<th data-options="field:'is_pre_name',width:80,formatter:renderPre">系统预置</th>
					<th data-options="field:'pk_role',hidden:true">主键</th>
					<th data-options="field:'pk_crop',hidden:true">所属公司</th>
					<th data-options="field:'create_user',hidden:true">创建人</th>
					<th data-options="field:'create_time',hidden:true">创建时间</th>
					<th data-options="field:'last_modify_user',hidden:true">修改人</th>
					<th data-options="field:'last_modify_time',hidden:true">修改时间</th>
					<th data-options="field:'update_time',hidden:true">更新时间戳</th>
				</tr>
			</thead>
		</table>
	</div>
	<div id="dlg_func" class="easyui-dialog szw_window" style="width: 350px; height: 400px; padding: 5px;" data-options="closed:true,title:'系统功能授权'">
		<ul id="function_tree_id" class="easyui-tree" style="padding-bottom: 100px; padding-top: 10px;"></ul>
	</div>
	<div id="app_dlg_func" class="easyui-dialog szw_window" style="width: 350px; height: 400px; padding: 5px;" data-options="closed:true,title:'APP终端授权'">
		<ul id="app_function_tree_id" class="easyui-tree" style="padding-bottom: 100px; padding-top: 10px;"></ul>
	</div>

	<!-- 关联 -->

	<div data-options="region:'south',split:true,title:'关联信息',height:'60%'">
		<div class="easyui-tabs" data-options="tabWidth:112" style="height: 100%">
			<div title="用户关联">
				<div id="yjwy_user_main_grid_tb" style="height: auto;">
					<div style="margin-bottom: 2px; margin-top: 2px">
						<a id="role_add_user_btn"  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">加入用户</a> 
						<a id="role_remove_user_btn"  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">移除用户</a>
					</div>
				</div>
				<table id="yjwy_user_main_grid" data-options="toolbar:'#yjwy_user_main_grid_tb',fit:true" class="easyui-datagrid">
					<thead>
						<tr>
							<th data-options="field:'ck',checkbox:true"></th>
							<th data-options="field:'user_name',width:120,align:'center'">姓名</th>
							<th data-options="field:'user_code',width:150,align:'center'">账号</th>
							<th data-options="field:'em_code',width:130,align:'center'">工号</th>
							<th data-options="field:'phone',width:130,align:'center'">电话</th>
							<th data-options="field:'email',width:150,align:'center'">邮箱</th>
							<th data-options="field:'is_pre_format',width:90,align:'center',formatter:renderPre">系统预置</th>
							<th data-options="field:'is_able_format',width:80,align:'center',formatter:renderUsable">启用</th>
							<!-- 以下为隐藏列 -->
							<th data-options="field:'pk_user',hidden:true">主键</th>
							<th data-options="field:'password',hidden:true">密码</th>
							<th data-options="field:'is_able',hidden:true">是否启用</th>
							<th data-options="field:'is_pre',hidden:true">是否系统预制</th>
							<th data-options="field:'header_img',hidden:true">头像</th>
							<th data-options="field:'delete_flag',hidden:true">是否删除</th>
							<th data-options="field:'pk_crop',hidden:true">所属公司</th>
							<th data-options="field:'create_user',hidden:true">创建人</th>
							<th data-options="field:'create_time',hidden:true">创建时间</th>
							<th data-options="field:'last_modify_user',hidden:true">修改人</th>
							<th data-options="field:'last_modify_time',hidden:true">修改时间</th>
							<th data-options="field:'update_time',hidden:true">更新时间戳</th>
							<!-- 以上为隐藏列 -->
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div id="role_adduser_dlg_id" class="easyui-dialog szw_window" data-options="title: '加入用户',    
	    width: 950,    
	    height: 480,    
	    closed: true,    
	    modal: true,
	    resizable:true,
	    maximizable:true,
	    loadingMessage:'数据加载中...'">
		<div id="yjwy_user_son1_main_grid_tb" style="height: auto">
			<form id="yjwy_user_son1_query_mianform" method="post">
				<table class="dv-table" style="margin-top: 5px;">
					<tr>
						<td style="text-align: end; padding-right: 20px;"><span>姓名:</span> <input id="user_son1_name_queryid" class="easyui-textbox"></input></td>
						<td><a id="btn_user_son1_mainquery" href="javascript:void(0);" onclick="queryNotAddUsers();" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a></td>
					</tr>
				</table>
			</form>
		</div>
		<table id="yjwy_user_son1_main_grid" data-options="toolbar:'#yjwy_user_son1_main_grid_tb'" class="easyui-datagrid">
			<thead>
				<tr>
<!-- 					<th data-options="field:'ck',checkbox:true"></th> -->
					<th data-options="field:'user_name',width:120,align:'center'">姓名</th>
					<th data-options="field:'user_code',width:120,align:'center'">账号</th>
					<th data-options="field:'em_code',width:130,align:'center'">工号</th>
					<th data-options="field:'phone',width:130,align:'center'">电话</th>
					<th data-options="field:'email',width:180,align:'center'">邮箱</th>
					<th data-options="field:'add_oprator',width:100,align:'center',formatter:addUserFormatter">操作</th>
					<th data-options="field:'is_pre_format',width:90,align:'center',formatter:renderPre,hidden:true">系统预置</th>
					<th data-options="field:'is_able_format',width:80,align:'center',formatter:renderUsable,hidden:true">启用</th>
					<!-- 以下为隐藏列 -->
					<th data-options="field:'pk_user',hidden:true">主键</th>
					<th data-options="field:'password',hidden:true">密码</th>
					<th data-options="field:'is_able',hidden:true">是否启用</th>
					<th data-options="field:'is_pre',hidden:true">是否系统预制</th>
					<th data-options="field:'header_img',hidden:true">头像</th>
					<th data-options="field:'delete_flag',hidden:true">是否删除</th>
					<th data-options="field:'pk_crop',hidden:true">所属公司</th>
					<th data-options="field:'create_user',hidden:true">创建人</th>
					<th data-options="field:'create_time',hidden:true">创建时间</th>
					<th data-options="field:'last_modify_user',hidden:true">修改人</th>
					<th data-options="field:'last_modify_time',hidden:true">修改时间</th>
					<th data-options="field:'update_time',hidden:true">更新时间戳</th>
					<!-- 以上为隐藏列 -->
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>