<!DOCTYPE html>
<html>
<head>
    <base href="${basePath?if_exists}">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>关联地点</title>
    <link rel="stylesheet" type="text/css" href="resources/ezfm/all.css"></link>
    <script type="text/javascript" src="resources/ezfm/all.js"></script>
</head>
<body>
<style type="text/css">
    #toolbar_classAndProjectInfo {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
</style>
<div id="dialog_repairPlaceInfo">
    <form id="form_repairPlaceInfo" method="post">
        <ul id="type_tree" class="ztree"></ul>
    </form>
</div>
<script type="text/javascript">
    var notRoleButtons = "${notRoleButtons?if_exists}";
    var tTreeObj;

    var zNodes;
    //操作符，save 和 update;
    var operation;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        edit : {
            enable : true,
            showRemoveBtn : false,
            showRenameBtn : false
        },
        data : {
            simpleData : {
                enable : true,
            }
        },
        callback : {
            onDblClick : zTreeOnDblClick
        },
        view : {
            selectedMulti : false
        }
    };
    //tree查询展示
    function showClassAdmintTree() {
        var param = {
            metas : [ 'resource_type' ],
        }
        var params = {param : JSON.stringify(param),
            isWindow:'true'
        }
        $.ajax({
            async : false,
            cache : false,
            type : 'POST',
            dataType : "json",
            data : params,
            url : "ezfm/baseinfo/type/query",//请求的action路径
            error : function() {//请求失败处理函数
                alert('请求失败');
            },
            success : function(data) { //请求成功后处理函数。
                zNodes = data.rows; //把后台封装好的简单Json格式赋给treeNodes
            }
        });
        tTreeObj = $.fn.zTree.init($("#type_tree"), setting,
            zNodes);
    }
    $(function() {
        showClassAdmintTree();
    });

    function zTreeOnDblClick(event, treeId, treeNode) {
			var pNode = tTreeObj.getSelectedNodes();
            var zNode = pNode[0];
            var name;
            
            var level = zNode.level + 1;
            var site_id;
            for (var i = 1; i <= level; i++) {
                if (i == 1) {
                    name = zNode.name;
                } else {
                    zNode = zNode.getParentNode();
                    name = zNode.name + "|" + name;
                }
                if (i == level - 1) {
                    $("#site_id").val(zNode.id);
                }
            }
            $("input[id=resourcetype_code]").val(treeNode.id);
          input(zNode.id);

        $("#resourcetype_name").textbox('setText', name);
        $("#resourcetype_name").textbox('setValue', name);

           // $("input[name=eq_sys_name]").textbox('setValue', name);
            $("#resourcetype_id").window('close');

    };
</script>
</body>
</html>