<!DOCTYPE html>
<html>

	<head>
		<base href="${basePath?if_exists}">
		<meta charset="UTF-8">
		<title>用户管理</title>
		<link rel="stylesheet" type="text/css" href="resources/ezfm/all.css"></link>
		<link rel="stylesheet" type="text/css" href="resources/ezfm/css/baseinfo/baseinfo.css"></link>
		<script type="text/javascript" src="resources/ezfm/all.js"></script>
		<script type="text/javascript" src="resources/ezfm/js/baseinfo/user.js"></script>
		<script type="text/javascript">
			var pc = '${crop?if_exists}';
			var notRoleButtons = "${notRoleButtons?if_exists}";
		</script>
		<script type="text/javascript">
			$(function() {
				//模版下载
				$("#download_mainbtn").click(function() {
					window.location.href = "ezfm/baseinfo/user/download";
				});
				//导入
				$("#import_mainbtn").click(function() {
					$("#uplaod_excel_dialog_id").dialog("open");
				});
				//导出
				$("#export_mainbtn").click(function() {
					var value = $('#querysearch').searchbox("getValue");
					var key = $('#querysearch').searchbox("getName");
					var url = "ezfm/baseinfo/user/export?value=" + value + "&key=" + key;
					window.location.href = url;
				});
				//扩展easyui表单的验证
				$.extend($.fn.validatebox.defaults.rules, {
					//验证汉子
					CHS: {
						validator: function(value) {
							return /^[\u0391-\uFFE5]+$/.test(value);
						},
						message: '只能输入汉字'
					},
					//移动手机号码验证
					mobile: { //value值为文本框中的值
						validator: function(value) {
							var reg = /^1[3|4|5|8|9]\d{9}$/;
							return reg.test(value);
						},
						message: '输入手机号码格式不准确.'
					},
					//国内邮编验证
					zipcode: {
						validator: function(value) {
							var reg = /^[1-9]\d{5}$/;
							return reg.test(value);
						},
						message: '邮编必须是非0开始的6位数字.'
					},
					//用户账号验证(只能包括 _ 数字 字母) 
					account: { //param的值为[]中值
						validator: function(value, param) {
							if(value.length < param[0] || value.length > param[1]) {
								$.fn.validatebox.defaults.rules.account.message = '用户名长度必须在' + param[0] + '至' + param[1] + '范围';
								return false;
							} else {
								if(!/^[\w.]+$/.test(value)) {
									$.fn.validatebox.defaults.rules.account.message = '只能输入字母、数字、下划线组成.';
									return false;
								} else {
									return true;
								}
							}
						},
						message: ''
					}
				})
			});
			//Excel文件导入
			function submitImportExcel() {
				$.messager.progress();
				$('#importExcelFormId').form('submit', {
					url: "ezfm/baseinfo/user/import",
					success: function(result) {
						result = eval('(' + result + ')');
						$.messager.progress('close'); // 如果提交成功则隐藏进度条
						if(result.success) {
							$.messager.alert("提示", "数据导入成功,请刷新查看", "info");
							$("#uplaod_excel_dialog_id").dialog("close");
						} else {
							$.messager.alert('提示', '数据导入失败！'+result.message+'。', 'warning');
						}
					}
				});
			};
		</script>
	</head>

	<body class="easyui-layout">
		<div id="stationdlg" class="easyui-dialog szw_window" style="width: 800px; height: 350px; padding: 5px;" data-options="closed:true">
			<ul id="stationtree" class="ztree" style="margin-left: 5px;"></ul>
		</div>
		<div id="dialog" class="easyui-dialog szw_window" data-options="closed:true">
			<form id="userForm" class="base_main_form" method="post">
				<input type="hidden" name="pk_user" /> 
				<input type="hidden" name="password" /> 
				<input type="hidden" name="is_able" /> 
				<input type="hidden" name="is_pre" />
				<input type="hidden" name="header_img" /> 
				<input type="hidden" name="delete_flag" /> 
				<input type="hidden" id="pk_crop" name="pk_crop" /> 
				<input type="hidden" name="create_user" /> 
				<input type="hidden" name="create_time" /> 
				<input type="hidden" name="last_modify_user" /> 
				<input type="hidden" name="last_modify_time" /> 
				<input type="hidden" name="update_time" />
				<table class="base_main_table">
					<tr>
						<td><label style="font-weight:bold;">姓名:</label></td>
						<td><input class="easyui-textbox" type="text" name="user_name" data-options="required:true,fit:true" /></td>
					</tr>

					<tr>
						<td><label style="font-weight:bold;">账号:</label></td>
						<td><input class="easyui-textbox" type="text" name="user_code" validtype="account[4,20]" data-options="required:true,fit:true" /></td>
					</tr>
					<tr>
						<td><label style="font-weight:bold;">工号:</label></td>
						<td><input class="easyui-textbox" type="text" name="em_code" data-options="required:true,fit:true" /></td>
					</tr>
					<tr>
						<td><label style="font-weight:bold;">电话:</label></td>
						<td><input class="easyui-textbox" type="text" name="phone" validtype="mobile" data-options="required:true,fit:true" /></td>
					</tr>
					<tr>
						<td><label style="font-weight:bold;">邮箱:</label></td>
						<td><input class="easyui-textbox" type="text" name="email" data-options="required:true,fit:true,validType:'email'" /></td>
					</tr>
				</table>
			</form>
		</div>

		<div id="tb" style="height: auto">
			<div style="height:28px;margin-bottom: 5px; margin-top: 5px">
				<a id="btnNew" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
				<a id="btnEdit" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
				<a id="btnDelete" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
				<a href="javascript:void(0)" id="mb" class="easyui-menubutton" data-options="menu:'#btnGroup',iconCls:'icon-lock'">启用/停用</a>
				<div id="btnGroup">
					<div id="btnEnable" data-options="iconCls:'btn-accept'">启用</div>
					<div id="btnDisable" data-options="iconCls:'btn-delete1'">停用</div>
				</div>
				<a id="btnstation" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-user_setup',plain:true">岗位分配</a>
				<a id="btnReset" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-user_reset',plain:true">重置密码</a>
				<div style="float: right;margin-right: 10px;margin-top: 3px;">
					<a id="export_mainbtn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-excel_export',plain:true">导出用户</a>
					<a id="import_mainbtn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-excel_import01',plain:true">导入用户</a>
					<a id="download_mainbtn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-download_02',plain:true">模版下载</a>
				</div>
				<span style="float: right; margin-bottom: 5px; margin-top: 5px; margin-right: 20px;"> 
				<input id="querysearch" class="easyui-searchbox" style="width: 300px" data-options="menu:'#mm'"></input>
				<div id="mm" style="width: 120px">
					<div data-options="name:'user_name_'">姓名</div>
					<div data-options="name:'em_code_'">工号</div>
					<div data-options="name:'phone_'">电话</div>
					<div data-options="name:'email_'">邮箱</div>
				</div>
			</span>
			</div>
		</div>

		<div data-options="region:'center'">
			<table id="userList" class="easyui-datagrid">
				<thead>
					<tr>
<!-- 						<th data-options="field:'ck',checkbox:true"></th> -->
						<th data-options="field:'user_name',width:100">姓名</th>
						<th data-options="field:'user_code',width:120">账号</th>
						<th data-options="field:'em_code',width:160">工号</th>
						<th data-options="field:'phone',width:150">电话</th>
						<th data-options="field:'email',width:150">邮箱</th>
						<th data-options="field:'is_pre_format',width:90,align:'center',formatter:renderPre">系统预置</th>
						<th data-options="field:'is_able_format',width:80,align:'center',formatter:renderUsable">启用</th>
						<!-- 以下为隐藏列 -->
						<th data-options="field:'pk_user',hidden:true">主键</th>
						<th data-options="field:'password',hidden:true">密码</th>
						<th data-options="field:'is_able',hidden:true">是否启用</th>
						<th data-options="field:'is_pre',hidden:true">是否系统预制</th>
						<th data-options="field:'header_img',hidden:true">头像</th>
						<th data-options="field:'delete_flag',hidden:true">是否删除</th>
						<th data-options="field:'pk_crop',hidden:true">所属公司</th>
						<th data-options="field:'create_user',hidden:true">创建人</th>
						<th data-options="field:'create_time',hidden:true">创建时间</th>
						<th data-options="field:'last_modify_user',hidden:true">修改人</th>
						<th data-options="field:'last_modify_time',hidden:true">修改时间</th>
						<th data-options="field:'update_time',hidden:true">更新时间戳</th>
					</tr>
				</thead>
			</table>
		</div>

		<div data-options="region:'south',title:'关联角色'" style="height: 230px;">
			<table id="rolegrid" class="easyui-datagrid">
				<thead>
					<tr>
						<th data-options="field:'pk_role',checkbox:true"></th>
						<th data-options="field:'role_code',width:150">角色编码</th>
						<th data-options="field:'role_name',width:300">角色名称</th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="roletb">
			<a id="btnRoleAdd" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
			<a id="btnRoleRemove" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">移除</a>
		</div>
		<div id="roledlg" class="easyui-dialog  szw_window">
			<table id="addRoleGrid" class="easyui-datagrid" data-options="fit:true">
				<thead>
					<tr>
						<th data-options="field:'pk_role',checkbox:true"></th>
						<th data-options="field:'role_code',width:150">角色编码</th>
						<th data-options="field:'role_name',width:200">角色名称</th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="roledlgtb">
			<a id="btnSelect" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">选择</a>
			<a id="btnClose" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">关闭</a> <span style="float: right"> <input
			id="keyword" class="easyui-textbox" type="text" name="keyword" style="width:170px;"/> <a id="btnFilter" href="javascript:void(0);" class="easyui-linkbutton"
			data-options="iconCls:'icon-filter',plain:true">过滤</a>
		</span>
		</div>

		<div id="uplaod_excel_dialog_id" class="easyui-dialog" title="用户导入" data-options="closed:true" style="width: 350px; height: 200px; padding: 10px">
			<form id="importExcelFormId" action="ezfm/baseinfo/user/import" enctype="multipart/form-data" method="post">
				<div style="margin-top: 30px; margin-bottom: 10px;">
					<input class="easyui-filebox" name="excleFile" id="export_excle_id" style="width: 100%" data-options="buttonText:'选择文件',height:25">
				</div>
			</form>
			<div>
				<a href="javascript:void(0)" class="easyui-linkbutton" style="width: 100%" onclick="submitImportExcel();">导入</a>
			</div>
		</div>
	</body>

</html>