<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<base href="${basePath?if_exists}">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>查看能耗表</title>
		<script type="text/javascript" src="resources/ezfm/all.js"></script>
		<script type="text/javascript" src="resources/ezfm/js/device/deviceUtil.js"></script>
		<link rel="stylesheet" type="text/css" href="resources/ezfm/all.css"></link>
		<script type="text/javascript">
			 var notRoleButtons = "${notRoleButtons?if_exists}";
			$(function() {
				var task_type = getQueryString("type");
				$("#task_type").attr("value",task_type);
				//初始化下拉框
				initAreaProject('combobox_area', 'combobox_project');

//				datagridInit('datagrid_regularly', 'ezfm/energyloss/statistics/query/read?task_type='+task_type, '', 'toolbar_datagrid_regularly', true, true);
                var first = "0";
                $('#datagrid_regularly').treegrid({
                    url:'ezfm/energyloss/statistics/query/read?task_type='+task_type,

                    method:'post',          //请求方式
                    idField:'eq_id',           //定义标识树节点的键名字段
                    treeField:'name',       //定义树节点的字段
                    fit:true,               //网格自动撑满
                    fitColumns:true,        //设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
                    pageList:[5,10,15,20],//每页显示个数可选项
                    loadMsg: "正在加载数据...", // 数据加载中显示信息
                    rownumbers: true, //显示行号列
                    striped: true, // 显示斑马线效果
                    pagination: true, // 显示分页工具栏
                    toolbar: "#toolbar_datagrid_regularly", // 顶部工具栏
                    border: false,
                    onLoadSuccess:function (row, data) {
                        if(first!="0"){
                            $('#datagrid_regularly').treegrid('append',{
                                parent: row.eq_id,  // 节点有一个'id'值,定义是通过'idField'属性
                                data: data.rows
                            });
                        }else{
                            first = '1';
                        }

                    }
                });

				//数据导出
				$("#export_mainbtn").click(function() {
					var jsonData = $("#yjwy_query_mianform").serializeObject();
					var url = "ezfm/energyloss/statistics/export/see?param="+JSON.stringify(jsonData)+"";
					window.location.href = url;
				});
				$("#export_template").click(function() {
                    var jsonData = $("#yjwy_query_mianform").serializeObject();
                    jsonData["isTemplate"] = "0";
                    var url = "ezfm/energyloss/statistics/export/see?param="+JSON.stringify(jsonData)+"";
                    window.location.href = url;
                });
			});
			
			function initAreaProject(areaId, projectId) {
				//初始化区域下拉列表
				queryData(areaId, "ezfm/device/query/area", "pk_area", "area_name");
				$("#" + areaId).combobox({
					onSelect: function(rec) {
						var url = 'ezfm/device/query/project?pk_area=' + rec.pk_area;
						queryData(projectId, url, "pk_project", "project_name");
					}
				});
				//初始化项目下拉列表
				queryData(projectId, "ezfm/device/query/project", "pk_project", "project_name");

			}
			
			
			//增加编辑列
			function formatOperate(value, row, index) {
				var json = JSON.stringify(row);
				return operation = "<a href='javascript:void(0);' class='easyui-linkbutton' onclick=openfrom("+json+")>修改本次读表</a>";
			};
			
			//打卡编辑页面
			function openfrom(row){
				$("#form_eq")[0].reset();
//				var i = $("#datagrid_regularly").treegrid("selectRow",index);
//				//获取当前行的数据
//				var row=$("#datagrid_regularly").treegrid("getSelected");
				//var eq_id=row.id;
				//console.log(eq_id);
				
				var install_area=row.install_area;
				//$("#eq_id").attr("value", eq_id);
				//初始化值
				var area=row.area;
				$("#area").text(area);
				var project=row.project;
				$("#project").text(project);
				var name=row.name;
				$("#name").text(name);
				var code=row.code;
				$("#code").text(code);
				var version=row.version;
				$("#version").text(version);
				var surface=row.surface;
				$("#surface").text(surface);
				var rate=row.rate;
				$("#rate").text(rate);
				var ondate=row.ondate;
				$("#ondate").text(ondate);
				var date=row.date;
				if(date){
					$("#date").text(date);
				}
				
				var lately=row.lately;
				$("#lately").text(lately);
				var notice_num=row.notice_num;
				$("#notice_num").text(notice_num);
				var metering_range=row.metering_range;
				if(metering_range){
					$("#metering_range").text(metering_range);
				}
				
				
				var install_time=row.install_time;
				if(install_time){
					$("#install_time").text(install_time);
				}
				
				//var update=row.update;
				//$("#update").text(update);
				var enable_time=row.enable_time;
				if(enable_time){
					$("#enable_time").text(enable_time);
				}
				
				var expect_use_time=row.expect_use_time;
				$("#expect_use_time").text(expect_use_time);
				var purpose_name=row.purpose;
				if(purpose_name){
					$("#purpose").text(purpose_name);
				}
				
				
				$("#install_area").text(install_area);
				$("#dialog_resources").dialog({
					title: '编辑',
					width: 500,
					height: 500,
					modal: true,
					shadow: true,
					closable: true,
					cache: false,
					buttons: "#toolbar_resources",
				});
				
				$("#form_eq").form('load',row);
				$("#energy_update").next("span").children().first().blur(function(){
					var energy_update=$("#energy_update").val();
					lately = energy_update-ondate;
					lately=lately*rate;
					$("#lately").text(lately);
					
				});
			}
			$(function(){
				
			});
			//提交表单
			function submitForm(formName,dialogName) {
				var saveUrl = 'energyloss/tabledefinition/up/update'
				var formdata =  $("#"+formName).serializeObject();
				var ondate=$("#ondate").text();
				var update=formdata.energy_update;
				if(parseInt(update) < parseInt(ondate)){
					$.messager.alert("提示","修改数必须大于上次读数!","info");
					return;
				}
				
				$.request.restPost({
					url: saveUrl,
					data:formdata,
					success: function(result){
						if(result.success){
							closeDialog(formName,dialogName)
							$.messager.show({
								title:'提示',
								msg:'数据已保存',
								timeout:2000,
								showType:'slide'
							});
						}else{
				    		$.messager.alert("提示",result.message,"info");
				    	}
					}
				}); 
				querySubmit();
				
			};
			
			

			/**
			 * 提交查询条件
			 */
			function querySubmit() {
				//获取文本框
				var task_type = $("#task_type").val();
				// 获取下拉框参数
				var pk_area = $("#combobox_area").combobox("getValue");
				var pk_project = $("#combobox_project").combobox("getValue");
				$("#datagrid_regularly").treegrid("load", {
					pk_area: pk_area,
					pk_project: pk_project,
				});
			}

			/**
			 * 重置后查询
			 */
			function resetSubmit() {
				
				$("#combobox_area").combobox("setValue","default");
			    $("#combobox_project").combobox("setValue","default");
				
				// 获取下拉框参数
				var pk_area = $("#combobox_area").combobox("getValue");
				var pk_project = $("#combobox_project").combobox("getValue");
				$("#datagrid_regularly").treegrid("load", {
					pk_area: pk_area,
					pk_project: pk_project,
				});
			}
			
			
			
		</script>
	</head>

	<body>
		<table id="datagrid_regularly" >
			<thead>
				<tr>
					<th data-options="field:'operate_',width:180,hidden:false,align:'center',formatter: formatOperate">操作</th>
					<th data-options="field:'area',width:200,hidden:false,align:'center'">区域名称</th>
					<th data-options="field:'project',width:200,hidden:false,align:'center'">项目名称</th>
					<th data-options="field:'name',width:200,hidden:false,align:'left'">设备名称</th>
					<th data-options="field:'code',width:200,hidden:false,align:'center'">设备编码</th>
					<th data-options="field:'install_area',width:200,hidden:false,align:'center'">安装位置</th>
					<th data-options="field:'version',width:200,hidden:false,align:'center'">型好</th>
					<th data-options="field:'surface',width:200,hidden:false,align:'center'">表号</th>
					<th data-options="field:'rate',width:200,hidden:false,align:'center'">倍率</th>
					<th data-options="field:'ondate',width:200,hidden:false,align:'center'">上次读数</th>
					<th data-options="field:'date',width:200,hidden:false,align:'center'">本次次读数</th>
					<th data-options="field:'lately',width:200,hidden:false,align:'center'">最近能耗值</th>
					<th data-options="field:'notice_num',width:200,hidden:false,align:'center'">预警值</th>
					<th data-options="field:'metering_range',width:200,hidden:false,align:'center'">计量范围</th>
					<th data-options="field:'energy_update',width:200,hidden:false,align:'center'">修改数</th>
					
					<!-- 以下为隐藏项 -->
					<th data-options="field:'install_time',width:200,hidden:true,align:'center'">安装日期</th>
					<th data-options="field:'enable_time',width:200,hidden:true,align:'center'">启用日期</th>
					<th data-options="field:'expect_use_time',width:200,hidden:true,align:'center'">使用寿命</th>
					<th data-options="field:'purpose_name',width:200,hidden:true,align:'center'">用途名称</th>
					<th data-options="field:'eq_id',width:200,hidden:true,align:'center'">设备id</th>
					
				</tr>
			</thead>
		</table>
		<!--工具栏-->
		<div id="toolbar_datagrid_regularly">
			<form id="yjwy_query_mianform" method="post">
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<select class="easyui-combobox" name="pk_area" id="combobox_area" data-options="editable:false,width:210">
					<option value="default">区域选择</option>
				</select>
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				<select class="easyui-combobox" name="pk_project" id="combobox_project"  data-options="editable:false,width:210">
					<option value="default">项目选择</option>
				</select>
				
				<span class="datagrid-btn-separator" style="vertical-align: middle; height: 15px;display:inline-block;float:none"></span>
				 
       			 <input id="task_type" name="task_type" style="display:none" type="text"/>
				<a class="easyui-linkbutton" onclick="querySubmit()" data-options="iconCls:'icon-search',plain:'true'">查询</a>
				<a class="easyui-linkbutton" onclick="resetSubmit()" data-options="iconCls:'icon-mini-refresh',plain:'true'">重置</a>
				<a id="write_mainbtn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-excel_export',plain:true">自动抄表</a>
				<a id="input_mainbtn" href="javascript:showImport()" class="easyui-linkbutton" data-options="iconCls:'icon-excel_export',plain:true">数据导入</a>
				<a id="export_mainbtn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-excel_export',plain:true">图表导出</a>
				<a id="export_template" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-excel_export',plain:true">模板下载</a>
			</form>
			
		</div>
	</body>


	<div id="uplaod_excel_dialog_id" class="easyui-dialog" title="标准导入" data-options="closed:true" style="width:350px;height:200px;padding:10px">
		<form id="importExcelFormId" action="ezfm/energyloss/data/import/excel" enctype="multipart/form-data" method="post">
			<div style="margin-top: 30px;margin-bottom: 10px;">
				<input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="easyui-filebox" name="excleFile" id="export_excle_id" style="width:100%" data-options="buttonText:'选择文件',height:25">
			</div>
		</form>
		<div>
			<a href="javascript:void(0)" class="easyui-linkbutton" style="width:100%" onclick="submitImportExcel();">导入</a>
		</div>
	</div>

	<!-- 新增表单 -->
	<div id="dialog_resources" >
		<form id="form_eq" method="post">
			<table style="margin: 5px 50px;" border="0" cellspacing="0" 
				cellpadding="0" width="400px" height="400px">
					<tr>
		                <th>设备编码</th>
		                <td colspan="3">
		                <label id="code"></label>
		                </td>
		            </tr>
		            <tr>
		                <th>设备名称</th>
		                <td colspan="3">
		                <label id="name"></label>
		                </td>
		            </tr>
		            <tr>
		                <th>项目名称</th>
		                <td colspan="3">
		                <label id="project"></label>
		                </td>
		            </tr>
		            <tr>
		                <th>区域名称</th>
		                <td colspan="3">
		                <label id="area"></label>
		                </td>
		            </tr>
		            <tr>
						<th>安装位置</th>
						<td colspan="3">
						<label id="install_area"></label>
						</td>
					</tr>
					<tr>
						<th>用途名称：</th>
						<td colspan="3">
							<label id="purpose"></label>

						</td>
					</tr>
					<tr>
						<th>安装日期：</th>
						<td>
						<label id="install_time"></label>
						</td>
					</tr>
					<tr>
						<th>启用日期：</th>
						<td>
						<label id="enable_time"></label>
						
					   </td>
					</tr>
				
					<tr>
		    			<th>预期寿命:</th>
		    			<td>
		    			<label id="expect_use_time"></label>
		    			</td>
		    		</tr>
				
					<tr>
						<th>倍率：</th>
						
						<td>
						<label id="rate"></label>
						</td>
					</tr>
					<tr>
						<th>预警值：</th>
						<td>
						<label id="notice_num"></label>
						</td>
					</tr>
					
					<tr>
						<th>计量范围：</th>
						<td>
						<label id="metering_range"></label>
						</td>
					</tr>
					<tr>
						<th>上次读数：</th>
						<td>
						<label id="ondate"></label>
						</td>
					</tr>
					
					<tr>
						<th>本次读数：</th>
						<td>
						<label id="date"></label>
						</td>
					</tr>
					
					<tr>
						<th>最近能耗值：</th>
						<td>
						<label id="lately"></label>
						</td>
					</tr>
					<tr>
						<th>修正值：</th>
						<td>
						<input type="text" id="energy_update"  name="energy_update"   class="easyui-numberbox" style="width: 300px;" min="0"prompt='只能输入数字！' maxlnegth="10"   />
						</td>
					</tr>
				<!--  	<tr hidden="true">
					<th>主键id：</th>
					<td><input type="text" id="id" name="id" 
							   style="width: 300px;"  
							    /></td>
				</tr>-->
				<tr hidden="true">
					<th>设备id：</th>
					<td><input type="text" id="eq_id" name="eq_id" 
							   style="width: 300px;"  
							    /></td>
				</tr>
			</table>
		</form>
	</div>
	<!--新增表单按钮-->
	<div id="toolbar_resources">
		<a class="easyui-linkbutton"
			onclick="submitForm('form_eq','dialog_resources')"
			data-options="iconCls:'icon-ok'">保&nbsp;存</a> <a
			class="easyui-linkbutton"
			onclick="closeDialog('form_eq','dialog_resources')"
			data-options="iconCls:'icon-cancel'">关&nbsp;闭</a>
	</div>
<script>
	

	function showImport() {
		$("#uplaod_excel_dialog_id").dialog({
            closed: false,
		});
    }
	
    //Excel文件导入
    function submitImportExcel(){
        $.messager.progress();
        $('#importExcelFormId').form('submit', {
            success: function(result){
                result = eval('('+result+')');
                $.messager.progress('close');// 如果提交成功则隐藏进度条
                if(result.success){
                    $.messager.alert("提示","数据导入成功,请刷新查看","info");
                    $("#uplaod_excel_dialog_id").dialog("close");
                }else{
                    if(result.message!="") {
                        $.messager.alert('提示','数据导入失败,'+result.message,'warning');
                    } else {
                        $.messager.alert('提示','数据导入失败,请检查导入数据是否符合要求','warning');
                    }
                }
            }
        });

    }
</script>

</html>